{% extends 'base.html' %}

{% block title %}
Página Inicial - Aluno
{% endblock title %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h1>{{aluno.nome}}</h1>
        </div>
    </div>
    <div class="box-body">
        <h3>Avaliação Física</h3>
        <p>Peso: {{avaliacao.peso}}kg</p>
        <p>Altura: {{avaliacao.altura}}cm</p>
        <p>Braço Direito: {{avaliacao.braco_d}}cm</p>
        <p>Perna (Coxa) Esquerda: {{avaliacao.perna_e}}cm</p>
        <p>Cintura: {{avaliacao.cintura}}cm</p>
        <p>Comentário: {{avaliacao.comentario_af}}</p>
        <hr>
        <h3>Estado Financeiro</h3>
        <p>Condição: {{aluno.estadof.condicao}}</p>
    </div>
{% endblock content %}