{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SoftFit</title>
        <link rel="stylesheet" href="{% static 'mainpage/styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'mainpage/logo.jpeg' %}">   
    </head>

    <body>
        <header>
            <div class="menu-content">
                <a class = "logo" href="{% url 'homepage:index' %}"><h1 class="logo">SoftFit</h1>
                </a>
                <nav class="header-menu">
                    <ul class="list-itens">
                        <li><a href="#">home</a></li>
                        <li><a href="#">serviços</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                </nav>
        </header>

        <main class="main-content">
            <h1 class="primary-text">Bora ficar grande !</h1>
            <h2 class="secondary-text">Fábrica de monstros !</h2>
            <h1></h1>


                <div class = "btns">
                    <button class="btn-aluno"><a href="/aluno/loginAluno">Aluno</a></button>
                    <button class="btn-professor"><a href="/professor/loginProf">Professor</a>
                    <button class="btn-professor"><a href="">Administrador</a>
                    
                    </button>
                </div>
            </div>
        </main>

        <div style = "background-color: aqua;">
            <h2>Assista esse vídeo para se divertir desenvolvendo : <a href="https://www.youtube.com/watch?v=LHdQovqs-SQ"> MAROMBAAA </a></h2>
        </div>
        <a href="">Aluno</a>
        <a href="">Professor</a>
        <a href="{% url 'administrador:index' %}">Administrador</a>

    </body>
</html>