{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SoftFit</title>
        <link rel="stylesheet" href="{% static 'mainpage/styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>

    <body style="background-color: white;">
        <header>
            <div class="topnav">
                <h1>SOFTFIT</h1>
                 <a class="active" href="#home">Home</a>
                 <a href="#news">News</a>
                 <a href="#contact">Contact</a>
                 <a href="#about">About</a>
               </div> 
        </header>

        <h1>Fica grande porr# !</h1>
        <h2>Fábrica de monstros !</h2>
        <div style = "background-color: aqua;">
            <h2>Assista esse vídeo para se divertir desenvolvendo : <a href="https://www.youtube.com/watch?v=LHdQovqs-SQ"> MAROMBAAA </a></h2>
            
            
        </div>
        <a href="{% url 'aluno:index' %}">Aluno</a>
        <a href="{% url 'professor:index' %}">Professor</a>
        <a href="{% url 'administrador:index' %}">Administrador</a>

    </body>
</html>