@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(20, 20, 20, 1)), url(fotinha5.jpg);
  background-position: center center;
  background-size: cover;
  background-position-y: 0px;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.message {
    text-align: center;
    color: white;
    background-color: black;
    
}

.btns {
  cursor: pointer;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.btns button {
  width: 250px;
  height: 60px;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-radius: 20px;
  position: relative;
  transition: 1.5s;
}

.btns button:hover {
  color: black;
  border: none;
}

.btns button:before {
  content: ' ';
  border-radius: 20px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0;
  height: 60px;
  background-color: rgb(61, 61, 61);
  z-index: -1;
  transition: 1s;
}

.btns button:hover:before {
  width: 100%;
}